<h1 *ngIf="!isEditMode">Create Season</h1>
<h1 *ngIf="isEditMode">Update Season</h1>

<div class="container">
    <form [formGroup]="seasonForm" (ngSubmit)="submitForm()">
        <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input
                matInput
                [matDatepicker]="startPicker"
                formControlName="start_date"
                placeholder="Choose start date" />
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
            <mat-error *ngIf="seasonForm.get('start_date')?.hasError('required')">
                Start date is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input
                matInput
                [matDatepicker]="endPicker"
                formControlName="end_date"
                placeholder="Choose end date" />
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
            <mat-error *ngIf="seasonForm.get('end_date')?.hasError('required')">
                End date is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Rounds</mat-label>
            <input matInput type="number" min="1" max="50" formControlName="rounds" class="no-spinner" />
            <mat-error *ngIf="seasonForm.get('rounds')?.hasError('required')">Rounds are required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Teams</mat-label>
            <mat-select formControlName="teams" multiple>
                <mat-option *ngFor="let team of teams" [value]="team.id">
                    {{ team.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">SAVE</button>
        <button mat-stroked-button [routerLink]="['/admin/competitions']">CANCEL</button>
    </form>
</div>
