.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

mat-form-field {
    flex: 0 0 20rem;
}

.flex-row {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}
