.container {
    inset: 0 0 auto 0;
    padding: 10px 19px;
    position: fixed;
    z-index: 99;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(#2a2a2a, 0.6);
    backdrop-filter: blur(4px);
}
