.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 35rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.full-width {
    width: 100%;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}
