<h1>Admin Dashboard</h1>

<div class="admin-dashboard">
    <mat-card class="admin-card" appearance="outlined">
        <div class="card-header">
            <mat-icon>emoji_events</mat-icon>
            <span>Competitions, Seasons & Games</span>
        </div>
        <div class="card-actions">
            <button mat-flat-button routerLink="/admin/competitions">Manage</button>
        </div>
    </mat-card>

    <mat-card class="admin-card" appearance="outlined">
        <div class="card-header">
            <mat-icon>groups</mat-icon>
            <span>Teams</span>
        </div>
        <div class="card-actions">
            <button mat-flat-button routerLink="/admin/teams">Manage</button>
        </div>
    </mat-card>
</div>
