<h1>Admin Dashboard</h1>

<div class="admin-dashboard">
    <mat-card class="admin-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Competitions, Seasons & Games</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="/admin/competitions">Manage</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="admin-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Teams</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="/admin/teams">Manage</button>
        </mat-card-actions>
    </mat-card>
</div>
