.admin-dashboard {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.admin-card {
    flex: 1 1 16rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    .card-header {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        font-size: 1rem;

        mat-icon {
            font-size: 2rem;
            width: 1em;
            height: 1em;
            line-height: 1;
        }
    }

    .card-actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }
}
