@use '@angular/material' as mat;
@use './_theme-colors' as palettes;

html {
    @include mat.theme(
        (
            color: (
                theme-type: dark,
                primary: palettes.$primary-palette
            ),
            typography: Roboto,
            density: 0
        )
    );

    @include mat.snack-bar-overrides(
        (
            container-color: var(--mat-sys-primary),
            supporting-text-color: var(--mat-sys-on-primary),
            button-color: var(--mat-sys-on-primary)
        )
    );
}

.warn {
    @include mat.button-overrides(
        (
            filled-container-color: var(--mat-sys-error),
            filled-label-text-color: var(--mat-sys-on-error)
        )
    );
}

.snackbar-content {
    @include mat.icon-button-overrides(
        (
            icon-color: var(--mat-sys-on-primary)
        )
    );
}

html,
body {
    height: 100%;
    margin: 0;
}
