@use '@angular/material' as mat;
@use './_theme-colors' as palettes;

html {
    @include mat.theme(
        (
            color: (
                theme-type: dark,
                primary: palettes.$primary-palette
            ),
            typography: Roboto,
            density: 0
        )
    );
}

.warn {
    @include mat.theme(
        (
            color: mat.$red-palette
        )
    );
}

html,
body {
    height: 100%;
    margin: 0;
}
