@use '@angular/material' as mat;
@use './_theme-colors' as palettes;

html {
    @include mat.theme(
        (
            color: (
                theme-type: dark,
                primary: palettes.$primary-palette
            ),
            typography: Roboto,
            density: 0
        )
    );
}

.warn {
    @include mat.button-overrides(
        (
            filled-container-color: var(--mat-sys-error),
            filled-label-text-color: var(--mat-sys-on-error)
        )
    );
}

html,
body {
    height: 100%;
    margin: 0;
}
